MONGO_URI="mongodb://localhost:27017/"
DB_NAME="voucher_db"

ACCESSTRADE_API_KEY="2IaMVbe2jWph_xuDnZNDydH2RPLYLDd0"
ACCESSTRADE_ENDPOINT="https://api.accesstrade.vn/v1/offers/coupons"

HUNTER_INTERVAL=900
VALIDATOR_INTERVAL=300
