MONGO_URI="mongodb://localhost:27017/"
DB_NAME="voucher_db"

ACCESSTRADE_API_KEY="your_accesstrade_api_key"
ACCESSTRADE_ENDPOINT="https://api.accesstrade.vn/v1/offers_informations/coupon"

HUNTER_INTERVAL=900
VALIDATOR_INTERVAL=300
TELEGRAM_BOT_TOKEN="your_bot_token_here"
TELEGRAM_ADMIN_CHAT_ID="your_chat_id_here"
RESEND_API_KEY="your_resend_api_key_here"
