MONGO_URI="mongodb://localhost:27017/"
DB_NAME="voucher_db"
PORT=3000

# PayOS Configuration
PAYOS_CLIENT_ID="your_payos_client_id"
PAYOS_API_KEY="your_payos_api_key"
PAYOS_CHECKSUM_KEY="your_payos_checksum_key"
PAYOS_RETURN_URL="http://localhost:3000/success"
PAYOS_CANCEL_URL="http://localhost:3000/cancel"
